# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude tfplan files
*tfplan*

# Exclude .terraform.lock.hcl
.terraform.lock.hcl

# Exclude Lambda function packages
lambda/dist/
lambda/node_modules/

# OS specific
.DS_Store
*.swp
*.swo

# IDE specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
